==
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Apply Georgia</title>
	
	<!-- compiled and minified CSS -->
	<link href="/themes/demo/assets/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/themes/demo/assets/css/main.css?v=4">
	<link rel="stylesheet" href="/themes/demo/assets/css/lightgallery.min.css">


</head>



    {% page %}



    <!-- Script JS -->
	<script src="/themes/demo/assets/js/jquery.min.js"></script>
	<script src='/themes/demo/assets/js/jquery.mask.min.js'></script>
    <script src="/themes/demo/assets/js/lightgallery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="/themes/demo/assets/js/bootstrap.min.js"crossorigin="anonymous"></script>
	<script src="/themes/demo/assets/js/main.js"></script>
	
	
	<script type="text/javascript">
    $(document).ready(function() {
        $("#gallery ").lightGallery();
        $("#gallery .content__gallery__items").lightGallery();
        $("#gallery2 .content__gallery__items").lightGallery();
    });
    </script>


	
</body>
</html>