==
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Apply Georgia</title>
	
	<!-- compiled and minified CSS -->
	<link href="/themes/demo/assets/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/themes/demo/assets/css/main.css?v=24">
	<link rel="stylesheet" href="/themes/demo/assets/css/lightgallery.min.css">
	
	<meta property="og:url" content="http://applygeorgia.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Apply Georgia" />
    <meta property="og:description" content="A Study Guide for International Students" />
    <meta property="og:image" content="/themes/demo/assets/img/shareimage.png" />
    
    <meta name="keywords" content="apply, georgia, education">
    <meta name='language' content='en'>
    <meta name='author' content='RESPO'>
    <meta name='url' content='http://applygeorgia.com'>
    <meta name='target' content='all'>
    <meta name='HandheldFriendly' content='True'>
    <meta name='MobileOptimized' content='320'>


</head>



    {% page %}



    <!-- Script JS -->
	<script src="/themes/demo/assets/js/jquery.min.js"></script>
	<script src='/themes/demo/assets/js/jquery.mask.min.js'></script>
    <script src="/themes/demo/assets/js/lightgallery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="/themes/demo/assets/js/bootstrap.min.js"crossorigin="anonymous"></script>
	<script src="/themes/demo/assets/js/main.js?v=1"></script>
	
	
	<script type="text/javascript">
    $(document).ready(function() {
        $("#gallery ").lightGallery();
        $("#gallery .content__gallery__items").lightGallery();
        $("#gallery2 .content__gallery__items").lightGallery();
    });
    </script>


	
</body>
</html>